.todofunction {
  grid-row:2/6;
  grid-column:2/4;
  background-image:url('david-marcu-78A265wPiO4-unsplash.jpg');
  background-size: cover;
  display:grid;
  grid-template-columns:5fr 1fr;
  grid-template-rows:1fr 1fr;
}

/* grids */
#todo {
  grid-row:1/3;
  grid-column:1;
  display:grid;
  grid-template-columns:1fr 8fr 1fr;
  grid-template-rows:1fr 6fr;
  grid-gap:1em;
  padding:1em;
}


/* add button */
#add {
  grid-row:1;
  grid-column:1;
  background-color:#026670;
  border-radius:50%;
  margin:20px;
  border:none;
  color:white;
  font-size:2.5em;
  height:1.5em;
  width:1.5em;
  cursor:pointer;
}

#add:hover {
  background-color:#2f747b;
}

/*
modal

*/

/* background */
#todomodal {
  position:fixed;
  display:none;
  left:0px;
  top:0px;
  width:100%;
  height:100%;
  z-index:1;
  overflow:auto;
  background-color:#1a525252;
  backdrop-filter:blur(3px);
}

/* modal box */
.modal_content {
  background-color:white;
  padding:1.5em;
  margin:5em auto;
  width:60%;
  display:grid;
  grid-template-columns:11fr 1fr;
  grid-template-rows:50px 80px 150px 200px 50px;
  grid-gap:1em;
  color:#525252;
  border-radius:10px;
}

/* 'x' button */
#close {
  font-size:3em;
  grid-column:2;
  grid-row:1;
  justify-self:center;
  background-color:white;
  border:0px;
  color:#525252;
  cursor:pointer;
}

#close:hover {
  color:black;
}

/* modal heading */
#heading {
  grid-row:1;
  font-size:2.5em;
  justify-self:center;
  align-self:center;
  padding-left:60px;
  cursor:text;
  font-weight:bold;
  user-select: text;
}

/* modal title */
#title {
  grid-column:1/3;
  grid-row:2;
  font-size:1.2em;
  display:grid;
  grid-template-rows: 1fr 2fr;
  font-weight:bold;
}

#titlelabel {
  grid-row:1;
  cursor:text;
  user-select: text;
}

#titlelabel > span {
  color:#C43D3D;
}

#titleinput {
  grid-row:2;
  border: 1px solid #525252;
  border-radius:4px;
  font-size:1em;
  padding:0.5em;
}

#titleinput:focus {
  outline:none;
  border: 2px solid #026670;
}



/* modal description */

#description {
  grid-column:1/3;
  grid-row:3;
  font-size:1.2em;
  display:grid;
  grid-template-rows:1fr 3fr;
  font-weight:bold;
}

#deslabel {
  grid-row:1;
  cursor:text;
  user-select: text;
}

#desinput {
  grid-row:2;
  border: 1px solid #525252;
  border-radius:4px;
  font-size:1em;
  resize:none;
  padding:0.5em;
  font-size:0.8em;
}

#desinput:focus {
  outline:none;
  border: 2px solid #026670;
}



/* modal options */
#options {
  grid-column:1/3;
  grid-row:4;
  display:grid;
  grid-template-rows:repeat(4, 1fr);
  grid-row-gap: 1em;
}

#dandt {
  grid-row:2;
  grid-column:1/5;
  display:grid;
  grid-template-columns:1fr 2fr 2fr 1fr 1fr;
  grid-column-gap:1em;
}

#oplabel {
  font-weight:bold;
  cursor:text;
  font-size:1.2em;
  user-select: text;
}


#datelabel {
  grid-column:1;
  justify-self:center;
  align-self:center;
  cursor:text;
  font-size:1em;
  user-select: text;
}

#date {
  grid-column:2;
  border: 1px solid #525252;
  border-radius:4px;
}

#date:focus {
  outline:none;
  border: 2px solid #026670;
}

#time {
  grid-column:3;
  border: 1px solid #525252;
  border-radius:4px;
}

#time:focus {
  outline:none;
  border: 2px solid #026670;
}

#remlabel {
  grid-column:4;
  justify-self:center;
  align-self:center;
  cursor:text;
  font-size:1em;
  user-select: text;
}
/*
reminder toggle
*/

/* the box around toggle */
#reminder {
  position:relative;
  display:inline-block;
  grid-column:5;
  width:3.1em;
  height:1.9em;
  align-self:center;
  justify-self:start;
}

/* hide default checkbox */
#reminder input {
  opacity:0;
  width:0;
  height:0;
}

/* toggle */
#remtoggle {
  position:absolute;
  cursor:pointer;
  top:0em;
  left:0em;
  right:0em;
  bottom:0em;
  cursor:pointer;
  background-color:#525252;
  transition:0.3s;
  border-radius:2em;
}

#remtoggle:before {
  position:absolute;
  left:3px;
  bottom:4px;
  content:"";
  height:1.43em;
  width:1.43em;
  transition:0.3s;
  border-radius:50%;
  background-color:white;
}

input:checked + #remtoggle {
  background-color:#026670;
}


input:checked + #remtoggle:before {
  transform:translateX(1.25em);
}

#tag {
  grid-row:3;
  grid-column:1/5;
  display:grid;
  grid-template-columns:15% fit-content(85%);
  width:100%;
  height:100%;
}

#taglabel {
  justify-self:center;
  align-self:center;
  cursor:text;
  font-size:1em;
  user-select: text;
}

.tag-container {
  grid-column:2;
  width:100%;
  height:100%;
  overflow:hidden;
}

#tag-box {
  border: 1px solid #525252;
  padding:10px;
  border-radius:5px;
  display:flex;
  resize:none;
  overflow: scroll;
}


.tag {
  padding:0.1em;
  margin:0.05em;
  align-items:center;
  border-radius:3px;
  display:flex;
  background:#F6FFFA;
  border:1px solid #026670;
}

.tag span {
  font-size:16px;
  margin-left:5px;
}

.tag-box input {
  font-size:16px;
  padding:0px;
  outline:none;
  border:0;
  overflow: scroll;
}

.material-icons {
  cursor:Pointer;
}

/* priority */

#priority {
  grid-row:4;
  grid-column:1/5;
  display:grid;
  grid-template-columns:1fr 2fr 4fr;
}

#prlabel {
  justify-self:center;
  align-self:center;
  cursor:text;
  font-size:15px;
  user-select: text;
}

#prchoice {
  appearance:none;
  -webkit-appearance:none;
  padding-left:1em;
  outline:none;
  border:1px solid #525252;
  border-radius:4px;
  cursor:pointer;
}

#prchoice:focus {
  border:2px solid #026670;
}
/* modal save */
#save {
  appearance:none;
  grid-column:1/3;
  grid-row:5;
  cursor:pointer;
  font-weight:bold;
  font-size:1em;
  background-color:#026670;
  color:white;
  border-radius:4px;
  border:none;
}

#save:hover {
  background-color:#2f747b;
}

/* to do list entry */
#list {
  background-color:white;
  border-radius:1em;
  grid-row:2;
  grid-column:1/4;
  display:grid;
  grid-template-rows:repeat(10, 1fr);
  grid-gap:1em;
  padding:1em;
  overflow-y:scroll;
  box-shadow: 0px 0px 10px 5px #d4d4d499;
}

/* each entry divided into 3 different sections */
.entry {
  display:grid;
  grid-template-columns: 1fr 8fr 1fr;
  opacity:1;
  transition:opacity 1000ms linear;
  height:30px;
}

.entry:hover {
  background-color:#EBFCF8;
}

.entrytitle {
  grid-column:2;
  align-self:start;
  margin-top:0.3em;
  cursor:pointer;
  font-weight:bold;
}


.prlow {
  color:green;
}

.prmed {
  color:#D3D56B;
}

.prhigh {
  color:#D86E6E;
}

.prlow, .prmed, .prhigh {
  font-size:1.5em;
  text-align:center;
  justify-self:center;
  font-weight: bold;
  grid-column:3;
  grid-row:1;
}
/* container */
.container  {
  display:block;
  position:relative;
  padding-left:35px;
  margin-bottom:12px;
  font-size:1em;
  justify-self:center;
  cursor:pointer;

}

/* hiding the default checkbox */
.container input {
  position: absolute;
  opacity:0;
  height:0;
  width:0;
}

/* custom checkbox */
.checkmark {
  position:absolute;
  top:0;
  left:0;
  height:25px;
  width:25px;
  background-color:white;
  border:1px solid #525252;
  font-size:28px;
}

/* background color when not checked */
.container:hover input ~ .checkmark {
  border-color: #026670;
}

/* background color when checked */
.container input:checked ~ .checkmark {
  background-color:#026670;
}

/* create custom checkmark */
.checkmark:after {
  content:"L";
  font-weight: bold;
  font-size:0.8em;
  color:white;
  position:absolute;
  display:none;
}

/* show the checkmark when checkbox is checked */
.container input:checked ~.checkmark:after {
  display:block;
}

/* style the checkmark */
.container .checkmark:after {
  transform:scaleX(-1) rotate(-40deg);
  position:absolute;
  left:5px;
  bottom:0px;
}

.entrydes {
  grid-column:2;
  grid-row:2;
  display:none;
}

.entrydate {
  grid-column:2;
  grid-row:3;
}



/* right sidebar */

#right {
  margin:1em 1em 1em 0em;
  border-radius:1em;
  grid-column:2;
  grid-row:1;
  background-color:white;
  padding:0.5em;
  box-shadow: 0px 0px 10px 5px #d4d4d499;
  overflow-y:scroll;
}

/* tags list */
#tagHr {
  cursor:pointer;
  font-weight: bold;
}

.tagE {
  cursor:default;
  border-radius:0.18em;
  overflow-wrap: break-word;
  padding:0.1em;
}

/* priority list */

#prioritylist {
  cursor:pointer;
  font-weight: bold;
}



.pr {
  text-indent:5%;
  border-radius:0.18em;
  cursor:default;
  transition: background-color 0.2s;
  margin:0.2em;
}

#high {
  background-color:#FFD3D3;
  display:block;
}

#high:hover {
  background-color:#E4A8A8 !important;
}

#medium {
  background-color:#FFFDD3;
  display:block;
}

#medium:hover {
  background-color:#EEEAA6 !important;
}

#low {
  background-color:#D3FFE0;
  display:block;
}

#low:hover {
  background-color: #B0E8C0 !important;
}

#low > span, #medium > span, #high > span {
  font-weight: bold;
}


#right2 {
  margin:1em 1em 1em 0em;
  grid-row:2;
  background-color:white;
  border-radius:1em;
  display:grid;
  grid-template-rows:1fr 7fr;
  overflow-y:scroll;
  padding:0.5em;
  box-shadow: 0px 0px 10px 5px #d4d4d499;
}


.rightTitle {
  text-align:center;
  align-self:center;
  line-height:1.5em;
  font-weight: bold;
}

.alertM {
  background-color:#FFD3D3;
  margin:0.5em;
  padding:0.3em 0.5em 0.1em 0.1em;
  display:grid;
  grid-template-columns:7fr 1fr;
  min-height:1.5em;
}

.alertClose {
  justify-self:center;
  cursor: pointer;
}

.liMes {
  justify-self:center;
  margin:15em auto;
  cursor:text;
  user-select:text;
}
