*  {
  margin:0;
  font-family:'Nunito', Sans-serif;
}

::selection {
  background-color:#CDF4E9;
}

.grid {
  display:grid;
  width:100vw;
  height:100vh;
}

.sticky {
  position:fixed;
}


/* header */

header {
  background-color: #fff;
  display:grid;
  grid-template-columns:1fr 1fr 5fr 8fr 1.5fr 1.5fr 1fr;
  height:5em;
  width:100%;
  box-shadow: 0px 10px 20px #EAEAEA99;
}

.logo {
  grid-column:1;
  margin-left:5em;
  height:70%;
  width:70%;
  align-self:center;
  cursor:pointer;
}

.title {
  grid-column:3;
  align-self:center;
  text-decoration:none;
  font-weight: bold;
  color:#026670;
  font-size:1.5em;
  font-family: 'Montserrat Alternates', sans-serif;
}

.wrapper {
  margin-top:5em;
  display:grid;
  grid-template-columns:repeat(auto-fit, minmax(34em, 1fr));
  grid-gap:1em;
  background-color: #EDFFF0;
  height:calc(100% - 5em);
  width:100%;
}

.contactImage {
  margin: 1em;
  height:100%;
  width:80%;
  justify-self:center;
  align-self:center;

}

.input {
  background-color: white;
  border-radius:4em;
  height:32em;
  width:60%;
  box-shadow: 10px 10px 20px #bbb;
  padding:3em;
  margin: 1em;
  justify-self:center;
  align-self:center;
  display:grid;
  grid-template-rows:10% 90%;
  color:#525252;
}

.contact {
  display:grid;
  grid-template-rows:0.8fr 2fr 0.8fr 2fr 0.8fr 2fr 0.8fr 4fr 1fr;
}

.contactTitle {
  font-weight: bold;
  font-size: 2em;
  justify-self:center;
}

input {
  align-self:center;
  outline:none;
  border:0.5px solid #525252;
  border-radius: 1.5em;
  height:3em;
  color:#525252;
  padding-left:0.5em;
  background-color:white;
}

input:focus, textarea:focus {
  border-color:#026670;
  background-color: #EDFFF0;
}

label {
  font-weight:bold;
  align-self:center;
}

textarea {
  border:0.5px solid #525252;
  border-radius:1.5em;
  resize:none;
  outline:none;
  padding:0.5em;
  height:8em;
}

.submit {
  grid-row:11;
  cursor:pointer;
  border:1px solid #026670;
  background-color: white;
  transition:background-color 0.3s;
  color:#026670;
  font-weight:bold;
}

.submit:hover {
  background-color:#026670;
  color:white;
}

span {
  color:#C43D3D;
}

.toLogin {
  text-align:center;
  align-self:center;
}

.toLogin > a {
  color:#026670;
}

#emailAlert {
  display:none;
  font-weight: normal;
  font-size:0.8em;
}

#passAlert {
  display:none;
  font-weight: normal;
  font-size:0.8em;
}
